.catalog-products {
    padding-top: 30px;
    padding-bottom: 30px;
}

.catalog-products__list {
    display: flex;
    flex-direction: column;
    @include reset-list;
}

.catalog-products__item:not(:last-child) {
    padding-bottom: 30px;
}
