.catalog-products {
  padding-top: 30px;
  padding-bottom: 30px;
}

.catalog-products__list {
  @include reset-list;
  display: flex;
  flex-direction: column;
}

.catalog-products__item:not(:last-child) {
  padding-bottom: 30px;
}
