.catalog-products {
    padding-bottom: 30px;
}

.catalog-products__list {
    display: flex;
    flex-direction: column;
    @include indent;
    list-style: $list-style;
}

.catalog-products__item:not(:last-child) {
    margin-bottom: 30px;
}