.copyright {
  display: flex;
  justify-content: center;
}

.copyright__name {
  font-size: 19px;
  line-height: 28px;
  padding-right: 30px;
}

.copyright__logo {
  &:hover,
  &:focus {
    fill: red;
  }
}
