.form-order {
  padding-top: 22px;
  padding-bottom: 54px;
}

.form-order__header {
  @include reset-indent;
  padding-bottom: 12px;
  font-size: 13px;
}

.form-order__wrapper--type {
  padding-top: 12px;
  padding-bottom: 13px;
}

.form-order__title--type {
  padding-bottom: 23px;
}

.form-order__field {
  @include reset-indent;
  border: none;
  border-top: 1px solid $color-mint;
}

.form-order__legend--type {
  padding-right: 27px;
}

.form-order__legend {
  position: relative;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: $color-mint;
}

.form-order__item {
  position: relative;
  display: block;
  padding-left: 62px;
  font-size: 17px;
  font-weight: $font-weight-bold;
  line-height: 18px;
  color: $color-black;
}

.form-order__item--type {
  min-height: 60px;
  padding-top: 11px;
  padding-bottom: 13px;
}

.form-order__type-input + .form-order__item--type {
  &::before {
    position: absolute;
    content: "";
    top: 2px;
    left: 0;
    display: block;
    width: 40px;
    height: 40px;
    border: 2px solid $color-dark-grey;
    border-radius: 50px;
  }

  &:hover::before,
  &:focus::before {
    border-color: $color-mint;
  }

  &:active::before {
    border-color: rgba($color-dark-grey, 0.3);
  }
}

.form-order__type-input:disabled + .form-order__item--type::before {
  border-color: rgba($color-dark-grey, 0.3);
}

.form-order__type-input:checked + .form-order__item--type {
  &::after {
    position: absolute;
    content: "";
    top: 14px;
    left: 12px;
    width: 15px;
    height: 15px;
    border: 8px solid $color-mint;
    border-radius: 50px;
  }
}

.form-order__type-input:disabled + .form-order__item--type::after {
  border-color: rgba($color-dark-grey, 0.3);
}

.form-order__wrapper--color {
  padding-bottom: 18px;
}

.form-order__title--color {
  padding-bottom: 17px;
}

.form-order__legend--color {
  padding-right: 18px;
}

.form-order__item--color {
  position: relative;
  padding: 19px 0 24px 62px;
}

.form-order__color-input + .form-order__item--color {
  &::before {
    position: absolute;
    content: "";
    top: 8px;
    left: 0;
    width: 40px;
    height: 40px;
    border: 2px solid $color-dark-grey;
  }

  &:hover::before,
  &:focus::before {
    border-color: $color-mint;
  }

  &:active::before {
    border-color: rgba($color-dark-grey, 0.3);
  }
}

.form-order__color-input:disabled + .form-order__item--color::before {
  border-color: rgba($color-dark-grey, 0.3);
}

.form-order__color-input:checked + .form-order__item--color {
  &::after {
    position: absolute;
    content: "";
    top: 20px;
    left: 8px;
    width: 22px;
    height: 16px;
    background: url("../img/icon-tick.svg") no-repeat;
  }
}

.form-order__color-input:disabled + .form-order__item--color::after {
  opacity: 0.3;
}

.form-order__wrapper--person {
  padding-bottom: 9px;
}

.form-order__title--person {
  padding-bottom: 29px;
}

.form-order__legend--person {
  padding-right: 22px;
}

.form-order__item--person {
  padding-left: 0;
}

.form-order__text-input {
  width: 100%;
  padding: 14px 0;
  font-size: 17px;
  line-height: 22px;
  color: $color-dark-grey;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid $color-black;

  &:hover,
  &:focus,
  &:active {
    border-color: $color-mint;
  }

  &:hover + svg,
  &:focus + svg,
  &:active + svg {
    fill: $color-mint;
  }
}

.form-order__text-input::placeholder {
  color: rgba($color-dark-grey, 0.3);
}

.form-order__item-person {
  padding-bottom: 22px;
}

.form-order__contacts-title {
  padding-bottom: 5px;
}

.form-order__contacts-box {
  padding-bottom: 33px;
}

.form-order__legend--tel {
  padding-right: 31px;
}

.form-order__content--tel,
.form-order__content--mail {
  position: relative;
}

.form-order__icon {
  position: absolute;
}

.form-order__icon--phone {
  top: 12px;
  right: 8px;
}

.form-order__icon--mail {
  top: 12px;
  right: 4px;
}

.form-order__text-input--tel {
  font-size: 19px;
  line-height: 24px;
}

// .form-order__text-input--tel,
// .form-order__text-input--mail {
//   &:invalid {
//     background-color: rgba(237, 181, 181, 1);
//   }
// }

.form-order__legend--email {
  padding-right: 23px;
}

.form-order__wrapper--comment {
  padding-bottom: 10px;
}

.form-order__title--comment {
  padding-bottom: 25px;
}

.form-order__legend--comment {
  padding-right: 25px;
}

.form-order__text-input--comment {
  min-height: 142px;
  padding: 15px;
  line-height: 18px;
  border: 2px solid $color-black;
}

.form-order__info {
  @include reset-indent;
  padding-bottom: 32px;
  font-size: 14px;
  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .form-order {
    padding-top: 61px;
    padding-bottom: 50px;
  }

  .form-order__header {
    padding-bottom: 24px;
    font-size: 17px;
    line-height: 30px;
  }

  .form-order__wrapper--type {
    display: flex;
    align-items: baseline;
    padding-top: 28px;
    padding-bottom: 33px;
  }

  .form-order__title {
    width: 25%;
  }

  .form-order__content {
    width: 75%;
  }

  .form-order__title--type {
    padding-bottom: 0;
  }

  .form-order__field {
    border: none;
  }

  .form-order__field--type {
    padding-top: 0;
  }

  .form-order__legend--type {
    padding-right: 0;
  }

  .form-order__item {
    padding-left: 81px;
    font-size: 19px;
  }

  .form-order__item--type {
    padding-top: 21px;
    padding-bottom: 36px;
  }

  .form-order__type-input + .form-order__item--type {
    &::before {
      top: 6px;
      left: 1px;
      width: 50px;
      height: 50px;
    }
  }

  .form-order__type-input:checked + .form-order__item--type {
    &::after {
      top: 21px;
      left: 16px;
      width: 20px;
      height: 20px;
      border: 10px solid $color-mint;
    }
  }

  .form-order__color-box {
    background-color: $color-light-grey-2;
  }

  .form-order__wrapper--color {
    display: flex;
    align-items: baseline;
    padding-top: 41px;
    padding-bottom: 35px;
  }

  .form-order__title--color {
    padding-bottom: 0;
  }

  .form-order__legend--color {
    padding-right: 0;
  }

  .form-order__content--color {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form-order__item--color {
    width: 48%;
    padding-top: 25px;
    padding-bottom: 33px;
  }

  .form-order__color-input + .form-order__item--color::before {
    top: 8px;
    width: 54px;
    height: 54px;
  }

  .form-order__color-input:checked + .form-order__item--color::after {
    top: 26px;
    left: 11px;
    width: 34px;
    height: 22px;
    background: url("../img/icon-tick-big.svg") no-repeat;
  }

  .form-order__wrapper--person {
    display: flex;
    align-items: baseline;
    padding-top: 47px;
    padding-bottom: 29px;
  }

  .form-order__title--person {
    padding-top: 0;
    padding-bottom: 0;
  }

  .form-order__legend--person {
    padding-right: 0;
  }

  .form-order__item-person {
    display: flex;
    align-items: baseline;
    padding-bottom: 20px;
  }

  .form-order__text-input {
    padding: 14px 17px;
    font-size: 19px;
    line-height: 18px;
  }

  .form-order__item--person {
    padding-left: 0;
    padding-right: 25px;
  }

  .form-order__wrapper--contacts {
    padding-top: 46px;
    padding-bottom: 30px;
  }

  .form-order__contacts-box {
    display: flex;
    align-items: baseline;
    padding-bottom: 20px;
  }

  .form-order__contacts-title {
    width: 25%;
    padding-bottom: 0;
  }

  .form-order__legend--tel,
  .form-order__legend--email {
    padding-right: 0;
  }

  .form-order__icon--phone {
    top: 14px;
    right: 26px;
  }

  .form-order__icon--mail {
    top: 15px;
    right: 22px;
  }

  .form-order__wrapper--comment {
    display: flex;
    padding-top: 50px;
    padding-bottom: 47px;
  }

  .form-order__title--comment {
    padding-top: 17px;
    padding-bottom: 0;
  }

  .form-order__legend--comment {
    padding-right: 0;
  }

  .form-order__text-input--comment {
    padding-top: 14px;
  }

  .form-order__info-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: baseline;
  }

  .form-order__info {
    padding-bottom: 0;
    font-size: 17px;
    line-height: 30px;
  }

  .form-order__btn {
    width: 230px;
  }
}

@media (min-width: $desktop-width) {
  .form-order {
    padding-top: 106px;
  }

  .form-order__header {
    max-width: 85%;
    padding-left: 176px;
    padding-bottom: 24px;
  }

  .form-order__title {
    width: 11%;
  }

  .form-order__content {
    width: 89%;
  }

  .form-order__content--width {
    width: 71%;
  }

  .form-order__wrapper {
    padding-left: 114px;
  }

  .form-order__input-wrapper:not(:last-child) {
    padding-right: 112px;
  }

  .form-order__content--color {
    justify-content: flex-start;
  }

  .form-order__item--color {
    width: 30%;
  }

  .form-order__icon--phone {
    right: 6px;
  }

  .form-order__icon--mail {
    right: 2px;
  }

  .form-order__wrapper--comment {
    padding-bottom: 43px;
  }

  .form-order__info-wrapper {
    width: 806px;
  }
}
