.inner-header {
  padding-top: 49px;
  padding-bottom: 56px;
  border-top: 1px solid $color-light-grey;
  background-color: #f1f1f1;
}

.inner-header__title {
  @include reset-indent;
  padding: 20px 0;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .inner-header {
    position: relative;
    padding-top: 33px;
    padding-bottom: 62px;
    border-top: none;

    &::after {
      position: absolute;
      content: "";
      bottom: -10px;
      width: 100%;
      height: 24px;
      background: url("../img/bg-zigzag-fill.svg") repeat-x;
      background-size: contain;
    }
  }

  .inner-header__title {
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: $desktop-width) {
  .inner-header__title {
    font-size: 53px;
    line-height: 57px;
  }
}
