.inner-header {
    margin-bottom: 30px;
    border-top: 1px solid #ececec;
    background-color: #f1f1f1;
}

.inner-header__title {
    @include indent;
    padding-top: 71px;
    padding-bottom: 75px;
    text-align: center;
}

