.main-header {
  // border-top: 1px solid $color-light-grey;
  background: #fafafa url("../img/hero-mobile@1x.jpg") no-repeat 50% -14%;
  padding-top: 70px;
}

.main-header__title {
  @include reset-indent;
  padding-bottom: 122px;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
}

.main-header__category {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.main-header__category-link {
  padding: 25px 100px 30px 29px;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  text-align: left;
  color: $color-white;
  text-decoration: none;

  // &:hover,
  // &:focus {
  // }

  &:active {
    opacity: 0.7;
  }

  &--interior {
    position: relative;
    background-color: #63d1bb;

    &::after {
      position: absolute;
      content: "";
      background: url("../img/icon-interior.svg") no-repeat;
      top: 23px;
      right: 37px;
      width: 40px;
      height: 62px;
      opacity: 0.5;
    }
  }

  &--toys {
    position: relative;
    background-color: #56c3b2;

    &::after {
      position: absolute;
      content: "";
      background: url("../img/icon-toy.svg") no-repeat;
      top: 21px;
      right: 28px;
      width: 60px;
      height: 60px;
      opacity: 0.5;
    }
  }
}

@media (min-width: $tablet-width) {
  .main-header {
    position: relative;
    padding-top: 112px;
    background: #fafafa url("../img/hero-tablet@1x.jpg") no-repeat 50% 98%;

    &::after {
      position: absolute;
      content: "";
      bottom: -12px;
      // left: 0;
      // right: 0;
      width: 100%;
      // max-width: 1150px;
      height: 24px;
      // max-height: 14%;
      // margin: 0 auto;
      background: url("../img/bg-zigzag-fill.svg") repeat-x;
      background-size: contain;
    }
  }

  .main-header__title {
    padding-bottom: 372px;
    font-size: 43px;
    line-height: 50px;
  }

  .main-header__category {
    flex-direction: row;
    padding: 0 50px;
  }

  .main-header__category-link {
    flex-grow: 1;
    font-size: 20px;
    line-height: 30px;

    &--interior::after {
      top: 30px;
      right: 36px;
    }

    &--toys::after {
      top: 32px;
      right: 34px;
    }
  }

  .main-header__category-link--interior {
    padding: 27px 83px 30px 35px;
  }

  .main-header__category-link--toys {
    padding: 28px 100px 30px 38px;
  }
}


@media (min-width: $desktop-width) {
  .main-header {
    padding-top: 112px;
    background: #fafafa url("../img/hero-desktop@1x.jpg") no-repeat 50% 100%;

    &::after {
      bottom: -17px;
      height: 34px;
    }
  }

  .main-header__title {
    padding-bottom: 359px;
    font-size: 53px;
    line-height: 57px;
  }
}
