.main-header {
  background: #fafafa url("../img/hero-mobile@1x.jpg") no-repeat 50% -14%;
  padding-top: 70px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 575px auto;
  }
}

.main-header__title {
  @include reset-indent;
  padding-bottom: 122px;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
}

.main-header__wrapper-category {
  padding: 0;
}

.main-header__category {
  @include reset-indent;
  position: relative;
  width: 100%;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 6px;
  }
}

.main-header__category--interior {
  &::after {
    background-color: #63d1bb;
  }
}

.main-header__category--toys {
  &::after {
    background-color: #56c3b2;
  }
}

.main-header__category-link {
  position: relative;
  display: block;
  padding: 25px 100px 30px 29px;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  text-align: left;
  color: $color-white;
  text-decoration: none;
  transition: 0.2s;
  transition-timing-function: ease-out;

  &--interior {
    background-color: #63d1bb;

    &:hover,
    &:focus {
      background-color: #59d5bc;
    }
  }

  &--toys {
    background-color: #56c3b2;

    &:hover,
    &:focus {
      background-color: #46c1ae;
    }
  }

  &:hover,
  &:focus {
    transform: translateY(-5px);
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &:hover .main-header__icon,
  &:focus .main-header__icon {
    fill-opacity: 0.7;
  }

  &:active .main-header__icon {
    fill-opacity: 0.3;
    transition: 0.2s;
  }
}

.main-header__icon {
  position: absolute;
}

.main-header__icon--interior {
  top: 22px;
  right: 35px;
}

.main-header__icon--toy {
  top: 21px;
  right: 26px;
}

@media (min-width: $tablet-width) {
  .main-header {
    position: relative;
    padding-top: 112px;
    background: #fafafa url("../img/hero-tablet@1x.jpg") no-repeat 50% 98%;

    &::after {
      position: absolute;
      content: "";
      bottom: -12px;
      width: 100%;
      height: 24px;
      background: url("../img/bg-zigzag-fill.svg") repeat-x;
      background-size: contain;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: 1150px auto;
    }
  }

  .main-header__title {
    padding-bottom: 372px;
    font-size: 43px;
    line-height: 50px;
  }

  .main-header__wrapper-category {
    display: flex;
    padding: 0 50px;
  }

  .main-header__category-link {
    display: flex;
    font-size: 20px;
    line-height: 30px;
  }

  .main-header__category-link--interior {
    padding: 28px 83px 30px 35px;
  }

  .main-header__category-link--toys {
    padding: 28px 100px 30px 38px;
  }

  .main-header__icon--interior {
    top: 29px;
    right: 35px;
  }

  .main-header__icon--toy {
    top: 31px;
    right: 34px;
  }
}


@media (min-width: $desktop-width) {
  .main-header {
    padding-top: 112px;
    background: #fafafa url("../img/hero-desktop@1x.jpg") no-repeat 50% 100%;

    &::after {
      bottom: -17px;
      height: 34px;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
      background-size: 1150px auto;
    }
  }

  .main-header__title {
    padding-bottom: 359px;
    font-size: 53px;
    line-height: 57px;
  }
}
