
.page-header {
    display: flex;
    margin: 0 32px;
    padding: 20px 0;
}

.page-header__logo {
    margin: auto;    
}


// @media (min-width: $tablet-width) {
//     .page-header__logo-image {
//         background: url("../../img/logo-tablet.svg) no-repeat;
//     }
//  }

