.page-footer {
    @include main-margin;
}

.page-footer__logo {
    display: none;
}
.page-footer__social {
    padding: 22px 50px 32px 57px;
    border-bottom: 1px solid #e5e5e5;
}

.page-footer__copyright {
    padding: 29px 40px 16px 38px;

}

