.product {
    position: relative;
    margin: 0 30px;
    padding-top: 27px;
    padding-bottom: 20px;
}

.product__title {
    margin: 0;
    padding-bottom: 5px;
    font-size: 25px;
    line-height: 30px;
}

.product__week {
    margin: 0;
    padding-bottom: 8px;
}

.product__text {
    max-width: 250px;
    line-height: 24px;
    padding-bottom: 5px;
}

.product__table {
    @include indent;
    margin-bottom: 26px;
}
 
.product__row {
    display: block;
    border-bottom: 1px solid #ececec;
    padding-bottom: 4px;
}

.product__row:not(:last-child) {
    margin-bottom: 5px;
}

.product__table-color {
    padding: 0 61px 0 0;
}

.product__table-dia {
    padding-right: 31px;
}

.product__table-height {
    padding-right: 45px;
}

.product__wrapper {
    margin-bottom: 19px;
}

.product__price {
    @include indent;
    font-size: 17px;
    line-height: 24px;
    font-weight: $font-weight;
    text-align: center;
    padding-bottom: 26px;
}

.product__btn {
    padding: 14px 84px;
}

