.product-card__image {
  display: block;
  margin: 0 auto;
}

.product-card__wrapper {
  padding: 26px 25px 0 27px;
  border: 1px solid $color-light-grey;
}

.product-card__link {
  color: $color-black;

  &:hover,
  &:focus {
    color: rgba($color-black, 0.6);
  }

  &:active {
    color: rgba($color-black, 0.3);
  }
}

.product-card__title {
  @include reset-indent;
  padding-bottom: 5px;
  font-size: 17px;
  font-weight: $font-weight-bold;
  line-height: 24px;
}

.product-card__properties,
.product-card__price {
  @include reset-indent;
}

.product-card__properties {
  font-size: 13px;
  line-height: 30px;
}

.product-card__description {
  margin-bottom: 21px;
  padding-bottom: 19px;
  border-bottom: 1px solid $color-light-grey;
}

.product-card__buy {
  display: flex;
  padding-bottom: 27px;
}

.product-card__price {
  margin-right: auto;
  font-weight: $font-weight-bold;
  color: $color-black;
}

.product-card__button {
  width: 21px;
  height: 21px;
  background: url("../img/icon-cart.svg") no-repeat;
  background-color: transparent;
  border: none;
}
