.social__list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social__item:not(:last-child) {
  margin-right: 43px;
}

.social__link {
  &:hover svg,
  &:focus svg {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}
