.video {
  position: relative;
  padding-bottom: 58px;
}

.video__wrapper {
  padding-top: 97px;
  border: 1px solid $color-light-grey;
}

.video__title-wrapper {
  position: absolute;
  top: 25px;
  left: 54px;
}

.video__title {
  @include reset-indent;
  position: relative;
  padding-left: 66px;
  font-size: 17px;
  line-height: 24px;

  &::before {
    position: absolute;
    content: "";
    top: 6px;
    left: 10px;
    width: 32px;
    height: 32px;
    background: url("../img/icon-video.svg") no-repeat;
  }
}

.video__wrapper-image {
  position: relative;
  margin-bottom: 27px;
}

.video__image {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.video__play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 101px;
  height: 77px;
  background: url("../img/icon-play.svg") no-repeat;
  background-color: transparent;
  border: none;
}

.video__wrapper-description {
  padding: 0 33px 32px 33px;
}

.video__wrapper-description--shadow {
  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.video__desc {
  @include reset-indent;
  padding-bottom: 25px;
  font-size: 13px;
}

@media (min-width: $tablet-width) {
  .video {
    padding-bottom: 62px;
  }

  .video__wrapper {
    padding-top: 0;
  }

  .video__wrapper-image {
    margin-bottom: 39px;
  }

  .video__wrapper-description {
    padding-left: 39px;
    padding-bottom: 45px;
  }

  .video__title-wrapper {
    position: static;
  }

  .video__title {
    padding-left: 66px;
    padding-bottom: 32px;
    font-size: 20px;

    &::before {
      top: -5px;
      left: 2px;
    }
  }

  .video__title br {
    display: none;
  }

  .video__desc {
    padding-bottom: 35px;
    font-size: 15px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .video {
    padding-bottom: 105px;
  }

  .video__wrapper {
    display: flex;
  }

  .video__wrapper-image {
    margin-bottom: 0;
  }

  .video__wrapper-description {
    width: 35%;
    padding-top: 95px;
    padding-left: 79px;
    padding-right: 57px;
  }

  .video__title {
    padding-left: 0;

    &::before {
      top: -53px;
    }
  }

  .video__desc {
    padding-bottom: 47px;
  }
}
