.video {
  position: relative;
  padding-bottom: 58px;
}

.video__wrapper {
  padding-top: 97px;
  border: 1px solid $color-light-grey;
}

.video__title {
  @include reset-indent;
  position: absolute;
  top: 25px;
  left: 119px;
  font-size: 17px;
  font-weight: $font-weight-bold;
}

.video__wrapper-image {
  position: relative;
  margin-bottom: 27px;
}

.video__image {
  display: block;
  margin: 0 auto;
}

.video__play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 101px;
  height: 77px;
  background: url("../../img/icon-play.svg") no-repeat;
  background-color: transparent;
  border: none;
}

.video__wrapper-description {
  padding: 0 33px 32px 33px;
}

.video__desc {
  @include reset-indent;
  padding-bottom: 25px;
  font-size: 13px;
}
