@mixin indent {
    margin: 0;
    padding: 0;
}

@mixin list {
    list-style: none;
}

@mixin absolute {
    position: absolute;
    content: "";        
}

@mixin no-outline {
    outline: none;
    background: transparent;
  }

  @mixin main-color($color: #444444) {
      color: $color;
  }

// применить к другим местам list вместо переменной
// применить к другим местам absolute вместо переменной
