@import "variables";
@import "mixins";
@import "font-face";
@import "blocks/visually-hidden";
@import "blocks/title";
@import "blocks/page-header";
@import "blocks/main-nav";
@import "outlines";
@import "blocks/main-header";
@import "blocks/product";
@import "blocks/text-mark";
@import "blocks/btn";
@import "blocks/about-us";
@import "blocks/reviews";
@import "blocks/slider";


body {
    min-width: 320px;
    margin: 0;
    padding: 0;
    font-style: normal;
    font-size: 15px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-weight: 400;
    color: #444444;
    background-color: #ffffff;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}
