$tablet-width: 768px;
$desktop-width: 1150px;
// $list-style: none;
$font-weight-bold: 700;
$color-white: #ffffff;
$color-dark-grey: #444444;
$color-light-grey: #ececec;
$color-black: #000000;
$color-mint: #62d1ba;
